<style>
        body {
            background-color: wheat;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        h1 {
            background-color: chocolate;
            color: blue;
            text-align: center;
        }
        .latar {
            background-color:yellow;
            border:1px dashed black;
            text-align: center;
            font-weight:bold;
            color: rgb(0, 0, 0);
        }
        .profil {
            color:rgb(10, 24, 173);
            text-align: center;
        }
        .center {
            text-align: center;
            width: 35%;
            margin: auto;
        }
</style>